<div class="py-5">
  <div
    class="container my-5 p-5 bg-body-tertiary"
    *ngIf="cartD.numOfCartItems > 0"
  >
    <div class="d-flex justify-content-between">
      <h2 class="fw-bolder">Cart Shop</h2>
      <button class="btn btn-primary fw-bold" routerLink="/cheakOut">
        check out
      </button>
    </div>
    <div *ngIf="cartD?.data">
      <div class="d-flex py-5 px-3 justify-content-between">
        <h4>
          total price:
          <span class="text-main">{{ cartD.data.totalCartPrice }}</span>
        </h4>
        <h4>
          total number of items:
          <span class="text-main">{{ cartD.numOfCartItems }}</span>
        </h4>
      </div>
      <div class="" *ngFor="let product of cartD.data.products">
        <div
          class="row border-bottom py-3 d-flex align-items-center"
          *ngIf="cartD.numOfCartItems > 0"
        >
          <div class="col-md-2">
            <img [src]="product.product.imageCover" class="w-100" alt="" />
          </div>
          <div class="col-md-10 d-flex justify-content-between">
            <div class="item">
              <h4 class="fw-bold">{{ product.product.title | trim : 2 }}</h4>
              <p class="text-main fw-bold">{{ product.price }} EGP</p>
              <button
                class="btn p-0 text-danger"
                (click)="deletcart(product.product.id)"
              >
                <i class="fa-regular fa-trash-can"></i> Remove
              </button>
            </div>
            <div class="buttons">
              <button
                class="btn btn-outline-success fw-bold"
                (click)="updatecount(product.count + 1, product.product.id)"
              >
                +
              </button>
              <span class="mx-3">{{ product.count }}</span>
              <button
                class="btn btn-outline-success fw-bold"
                (click)="updatecount(product.count - 1, product.product.id)"
              >
                -
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn w-100 btn-success mt-5" (click)="clearcart()">
      clear cart
    </button>
  </div>
  <div *ngIf="cartD.numOfCartItems == 0" class="my-5">
    <h1 class="text-main text-center fw-bolder my-5">cart shop</h1>
    <h3 class="text-main text-center fw-bolder my-5">your cart is empty</h3>
  </div>
</div>
