<div class="container my-5">
  <h1 class="text-center text-main my-5 py-5 fw-bolder">All Brands</h1>
  <div class="row g-4">
    <div class="col-md-3" *ngFor="let brand of brands">
      <div
        class="cart border-bottom border-top border-start border-end product text-center"
      >
        <div class="card-img">
          <img [src]="brand.image" class="w-100" alt="" />
        </div>
        <div class="card-title pb-5">
          <span>{{ brand.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
