<div class="py-5">
  <div class="container my-5 p-5 bg-body-tertiary" *ngIf="wishl.count > 0">
    <div class="d-flex justify-content-between">
      <h2 class="fw-bolder">Wish List</h2>
    </div>
    <div class="" *ngFor="let product of wishl.data">
      <div
        class="row border-bottom py-3 d-flex align-items-center"
        *ngIf="wishl.count > 0"
      >
        <div class="col-md-2">
          <img [src]="product.imageCover" class="w-100" alt="" />
        </div>
        <div class="col-md-10 d-flex justify-content-between">
          <div class="item">
            <h4 class="fw-bold">{{ product.title | trim : 2 }}</h4>
            <p class="text-main fw-bold">{{ product.price }} EGP</p>
            <button
              class="btn p-0 text-danger"
              (click)="removefromwish(product.id)"
            >
              <i class="fa-regular fa-trash-can"></i> Remove
            </button>
          </div>
          <div class="buttons">
            <button
              class="btn btn-outline-success"
              (click)="addToCart(product.id)"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="wishl.count == 0" class="my-5">
  <h1 class="text-main text-center fw-bolder my-5">Wish list</h1>
  <h3 class="text-main text-center fw-bolder my-5">your wish List is empty</h3>
</div>
